<div id="header">
  <p-menubar [model]="menuItems">
    <p-calendar [(ngModel)]="dateFrom" dateFormat="dd.mm.yy" placeholder="Date From" (onSelect)="constructFilters()" (onInput) = "constructFilters()"></p-calendar>
    <p-calendar [(ngModel)]="dateTo" dateFormat="dd.mm.yy" placeholder="Date To" (onSelect)="constructFilters()" (onInput) = "constructFilters()"></p-calendar>
    <p-autoComplete [(ngModel)]="tags" [suggestions]="suggestedTags" (completeMethod)="tagSearch($event)" [multiple]="true" placeholder="Tags" (onSelect)="constructFilters()"></p-autoComplete>

  </p-menubar>
</div>
<div class="wrapper h-100">
  <!-- Sidebar -->
  <div id="sidebar">
    <p-tree [value]="folders" selectionMode="single" [(selection)]="selectedFolder"
            (onNodeSelect)="onGallerySelect()"></p-tree>
  </div><!-- /#sidebar -->

  <button type="button" id="expand-menu-button" class="btn btn-secondary" (click)="changeView()">
    <span id="expand-menu-button-icon" class="fa fa-chevron-left"></span>
  </button>

  <!-- Begin page content -->
  <div id="page-content">
    <div class="container-fluid">
      <gallery *ngIf="filters !== null && filters !== undefined"
               [metadataUri]="'http://localhost:8080/api/' + filters"
               [galleryName]="galleryName">
      </gallery>
    </div>
  </div>

</div>
