/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html,body {
  height: 100%;
}

.ui-tree {
  height: 100%;
  width: 300px !important;
  overflow-x: hidden;
}


.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar.menu-hidden {
  margin-left: -300px;
}

#sidebar {
  width: 300px;
  margin-left: 0px;
}

#page-content{
  width: 100%;
}

.expand-menu-button{
  width: 15px;
}

